header {
  border-bottom: 1px solid #e5e7eb;

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
    padding: .5rem 0;

    a {
      text-decoration: none;
      color: #000;
    }
  }
}

@media screen and (max-width: 48rem) {
  header {
    .header-wrapper {
      flex-direction: column;
    }
  }
}
