<header>
  <div class="header-wrapper flex justify-between items-center">
    <%= link_to ui_dashboard_index_path do %>
      <h1>Emailbutler</h1>
    <% end %>
    <nav>
    </nav>
  </div>
</header>
