<div id="dashboard">
  <ul class="summary">
    <li class="status-summary">
      <span><%= @summary.values.sum %></span>
      <span>Total</span>
    </li>
    <% Emailbutler.adapter.message_class.statuses.each_key do |status| %>
      <li>
        <%= link_to ui_path(status), class: 'status-summary' do %>
          <span><%= @summary[status].to_i %></span>
          <span><%= status.capitalize %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
